#titulo{
    color: lightcoral 

}


#etiquetas{

    color: lightcoral;


}

#incio{

   color: gray
}

#acercade{

color: gray;

}

#servicios{

    color: gray;
}


#contacto{

    color: gray;

}

#t_inicio{

    color: lightcoral

}


.Parrafo_1{

font-family:'Courier New', Courier, monospace

}


#sobremi{


    color: lightcoral;
}

.Parrafo_2{


    font-family: 'Courier New', Courier, monospace


}

#serv{


    color: lightcoral;
}



.etiquetas2{

    font-family:'Courier New', Courier, monospace

}

#contact{

color: lightcoral;
    
}

.Parrafo3{

    font-family: 'Courier New', Courier, monospace
}

.cont{

    font-family: cursive;
}


#foot{

    color: lightcoral
}


#pagw{

    color: cadetblue
}

#correo{

    color: cadetblue;
}